header {
  background-color: rgb(43, 87, 218);

  /* stays at the top */
  position: sticky;
  top: 0;

  /* the height of the header is fixed with using pixels */
  height: 87px;
}

/* smaller screens first */
.header-h1 {
  color: white;
  font-family: 'Proza Libre', serif;
  font-weight: normal;
  font-style: italic;
  font-size: 35px;

  /* the height starts from the top, so it increases from top to bottom */
  line-height: 70px;
}

/* smaller screen, we remove h3 from flow */
.header-h4 {
  display: none;
}

/* we don't have a ruleset for the cart icon on the header in small screen */

/* .header-img {
  display: block;

  removing margin because we have applied the flex properties in align-center ruleset

} */

/* having 75% of its parent column-fifth */
.mock-image {
  /* width: 75%; */
  width: 150px;
  height: 200px;
  object-fit: contain;
}

.mock-image-align {
  text-align: center;
}

p {
  font-size: medium;
  font-family: 'Proza Libre', serif;
  padding: 7px;
}

.body-h1 {
  font-family: 'Proza Libre', serif;
  font-weight: normal;
  font-size: 20px;
}

select {
  border: none;
  font-family: 'Proza Libre', serif;
  font-weight: normal;
  font-size: 20px;
  cursor: pointer;
}

hr {
  margin-top: -12px;
}

/* affected on both small and large, but in media screen we can add more properties keeping the one here  */
.align-contents-small-body {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  /* justify-content: space-around; */
}

/* applying on properties on children like the image */
.align-center-small-header {
  /* justify-content center didn't work although it inherits from parent ? */
  text-align: end;
  align-content: center;
}

/* larger screens second */
@media screen and (width >= 768px) {
  .header-h1 {
    color: white;
    font-family: 'Proza Libre', serif;
    font-weight: normal;
    font-style: italic;
    font-size: 50px;
    line-height: 40px;
  }

  .header-h4 {
    /* to display h4 again because media cannot override display:none */
    display: inline;
    color: white;
    font-family: 'Proza Libre', serif;
    font-weight: normal;
    margin-right: 30px;

    /* its relative to the parent column half and other aware of its existence
    , so if we use relative it will stay in the header relative to the header
    if we use position absolute, it will leave the header flow and other element
    wont aware of its existence and cart will take its place on header and word cart
    will go all the way to the right outside header */

    position: relative;
    bottom: 18px;
  }

  /* don't use margin because it will cause an increase to the overall size */
  .header-img {
    margin-right: 15px;
  }

  .body-h1 {
    font-family: 'Proza Libre', serif;
    font-weight: normal;
    font-size: 30px;
  }

  /* i only need to change margin here, because the rest properties all already existed in the
  same select on the top */
  select {
    font-size: 30px;
    margin-left: 80px;
  }

  /* i already have flex in the same ruleset so we only need to change justify
  content that will only works if we have a space */
  .align-contents-small-body {
    justify-content: left;
  }

  hr {
    margin-bottom: 50px;
  }
}
